<h1>Add a Quote</h1>
<form (submit)="onSubmit()" #myform='ngForm'>
  <div id="input">
    <textarea 
    name="content" 
    id="content" 
    cols="70" 
    rows="10"
    required
    minlength="4"
    [(ngModel)]="quote.content"
    #content='ngModel'
    ></textarea>
    <p> Author: <input 
      name="author"
      type="text"
      required
      minlength="1"
      [(ngModel)]="quote.author"
      #author='ngModel'
      >
    </p>
    <button type="submit" [disabled]="myform.invalid">Add Quote</button>
  </div>
  <div>
    <!-- If quote is not null, show Quote is required -->
    <p *ngIf="content.errors" class="red">Quote is Required</p>
    <p *ngIf="author.errors" class="red">Author is Required</p>
  </div>
</form>